<%= form_with(model: @kitten, local: true) do |f| %>
  <%= render  "shared/error_messages", object: @kitten %>
  <div class="form-group">
    <%= f.label :name, "Name : " %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :age, "Age : " %>
    <%= f.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :breed, "Breed : " %>
    <%= f.text_field :breed, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cuteness, "Cuteness level : " %>
    <%= f.text_field :cuteness, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :softness, "Softness level : " %>
    <%= f.text_field :softness, class: "form-control" %>
  </div>
  <%= f.submit  class: "btn btn-primary"%>
<% end %>
